.layout {
    max-width: 1200px;
    width: 80%;
    margin-top: 40px;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background: white;
    display: flex;
    justify-content: center;
    border-radius: 20px;
    max-width: 700px;
    width: 100%;
    margin: 20px 0;
}

.container_form {
    min-width: 250px;
    width: 70%;
    margin: 0 10px;
}

.form_label {
    line-height: 2;
    text-align: left;
    display: block;
    margin-top: 20px;
    color: black;
    font-size: 14px;
    font-weight: 200;
    min-width: 150px;
}

.form_input__text {
    display: block;
    box-sizing: border-box;
    width: 100%;
    min-width: 150px;
    border-radius: 4px;
    border: 1px solid black;
    padding: 10px 15px;
    font-size: 14px;
}

.form_acctions{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin: 20px 0;
}
.form_input__submit {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #3bac4c;
    border-color: #3bac4c;
    color: white;
    text-transform: capitalize;
    border: none;
    font-size: 16px;
    font-weight: 100;
    letter-spacing: 2px;
    min-width: 170px;
    width: 40%;
    padding: 20px;
    margin: 10px 0;
}

.form_text_error {
    color: #c63d3d;
    font-size: 12px;
    font-weight: 600;
    width: 150px;
}

.form_button__cancelar{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f82916;
    border-color: #f82916;
    color: white;
    text-transform: capitalize;
    border: none;
    padding: 20px;
    margin: 10px 0;
    font-size: 16px;
    font-weight: 100;
    letter-spacing: 2px;
    min-width: 170px;
    width: 40%;
}

.form_input__submit:hover {
    background: #1a9b2e;
    cursor: pointer;
}

.form_button__cancelar:hover {
    background: #c63d3d;
    cursor: pointer;
}

@media only screen and (max-width: 410px) {
.form_input__submit {
    font-size: 12px;
}
    .form_button__cancelar {
        font-size: 12px;
    }
}